.float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.sidebyside{
    margin-top: 10px;
    width: 50%;
    height: 800px;
    float: left;
    padding: 20px;
    
;
}
.login{
    margin-top: 200px;
  
}
.registorasadmin{
    margin-top: 300px;
    display: flex;
    justify-content: center;


}
.img{
    height: 50px;
    width: 25%;
    }
